{% extends 'site/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <h1></h1>
    {% if username %}

        <h4>Модель ноутбука: {{ notebook.model }}</h4>
        <pre>Цена ноутбука: {{ notebook.cost }}
Количество ноутбуков в наличии: {{ notebook.amount }}
Описание ноутбука: {{ notebook.description }}
<form action="/basket/note/{{ notebook.id }}/add" method="post">{% csrf_token %}{{ otlo }}<input class="button" type="submit" value="Заказать"></form></pre>





    {% endif %}
{% endblock %}