{% extends 'site/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    {% if username %}
        <h4>Вы: {{ username }}</h4>
    {% for zak in zakaz reversed %}
        <h4>Вы заказали ноутбук: {{ zak.konkrnote }}</h4>
        <pre>В количестве: {{ zak.zakaz }}
Состояние заказа: {{ zak.sostoyanie }}
<form action="/basket/{{ zak.id }}/del" method="post">{% csrf_token %}{{ otlo }}<input class="button" type="submit" value="Удалить"></form></pre>
    {% endfor %}
    {% endif %}
{% endblock %}